<!DOCTYPE html>
{% extends 'layouts/app_base.html' %}

{% block content %}
    {% load static %}
    {% load i18n %}

    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/app_data_visualization.css' %}">

    <!--Scripts-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/app_data_visualization.js' %}"></script>

    <!--Content-->
    <div class="chart-container" width="400" height="200">
        <h2>{% trans "Visualize your data down below " %}<i class="fas fa-arrow-down"></i></h2>
        
        <form id="chart-display-form">
            <label>{% trans "Chart Type:" %}</label>
            <select id="chart-type" name="chart-type">
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
                <option value="doughnut">Doughnut Chart</option>
            </select>

            <!--label for="data-input">Enter Data (JSON format):</label-->
            <!--label for="data-input">Enter Database Query (SELECT <fields> FROM <table name>)</label-->
            <!--textarea id="data-input" name="data-input" rows="10" placeholder='{"labels": ["A", "B", "C"], "data": [10, 20, 30]}'></textare-->
            <button type="submit">Generate</button>
        </form>

        <canvas id="data-chart">
            <!--Provided data will be displayed right here-->
        </canvas>
    </div>
    
{% endblock %}