<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DataForge - App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> <!--Extension for icons in templates-->
  <link rel="stylesheet" href="{% static 'css/app_base.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--JQuery Library-->
  <script src="{% static 'js/app_base.js' %}"></script>
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="logo">DataForge</h1>
      <nav class="nav">
        <ul class="top-nav-bar-first-section">
          <li><a href="{% url 'app-home' %}" class="nav-link">{% trans "Home" %}</a></li>
          <li><a href="{% url 'import-export-data' %}" class="nav-link">{% trans "Import and Export" %}</a></li>
          <li><a href="#" class="nav-link">{% trans "Data Visualization" %}</a></li>
          <li><a href="#" class="nav-link">{% trans "Settings" %}</a></li>
        </ul>
        
        <div class="profile_container">
          <a id="button-profile" href="{% url 'logout' %}">
            {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.username }}">  
            {% else %}
                <img src="{% static 'img/default_profile_picture.jpg' %}" alt="Default profile picture">
            {% endif %}
            {% if request.user.username|length < 18 %}
              <span>{{ request.user.username }}</span>
            {% else %}
              <span>{{ request.user.username|slice:":18" }}...</span> <!--Usernames having more than 18 characters will be "cut" to display them apropiately on the template-->
            {% endif %}
            <a href="#" id="button-settings"><i class="fas fa-gears"></i></a>
          </a>
        </div>
      </nav>
    </div>
  </header>

  {% block content %}
	<!--Changeable content will be placed here-->
  {% endblock %}

  <footer class="footer">
    <div class="container">
      <p>{% trans "2023 DataForge. All rights reserved." %}</p>
    </div>
  </footer>
</body>
</html>