.chart-container{
    font-family: monospace;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    background-color: royalblue;
    color: white;
    margin-block: 40px;
    padding-block: 20px;
    border: 2px solid rgb(0, 102, 255);
    border-radius: 10px;
}

#data-chart{
    background-color: rgba(120, 140, 250, 0.4);
    width: 80%;
    max-height: 300px;
    margin: 0 auto;
    box-shadow: 3px 5px 5px rgb(0, 102, 255);
    font-size: 1.9rem;
    color: white;
}